<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/fulllink :: fulllink}"></head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="app">

    <!-- Sidebar -->
    <div th:insert="~{fragment/sidebar_backoffice :: sidebar}"></div>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="main" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="page-content">

            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <h1 class="h3 mb-2 text-gray-800">Analyse des Commissions</h1>
                <p class="mb-4">Filtres disponibles pour l'analyse des commissions sur les transactions crypto :</p>

                <!-- Formulaire de filtrage -->
                <div class="row">
                    <div class="col-xl-3 col-md-6 mb-4">
                        <div class="card border-left-primary shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <form th:action="@{/backoffice/analysecommission/filtrer}" method="post">
                                        <div class="form-group">
                                            <div class="">
                                                <label class="form-label"> Analyse </label>
                                                <select class="custom-select" name="analyseType">
                                                    <option th:value="somme" th:selected="${analyseType == 'somme'}">Somme</option>
                                                    <option th:value="moyenne" th:selected="${analyseType == 'moyenne'}">Moyenne</option>
                                                    <option th:value="tous" th:selected="${analyseType == 'tous'}">Tous</option>
                                                </select>
                                            </div>

                                            <div class="">
                                                <label class="form-label">Cryptomonnaie</label>
                                                <select class="custom-select" name="idCrypto">
                                                    <option value="">Tous</option>
                                                    <option th:each="crypto : ${cryptos}" th:value="${crypto.idCrypto}" th:text="${crypto.nom}"></option>
                                                </select>
                                            </div>

                                            <div class="">
                                                <label class="form-label">Début</label>
                                                <input type="datetime-local" class="form-control" name="startDate" th:value="${startDate}">
                                            </div>

                                            <div class="">
                                                <label class="form-label">Fin</label>
                                                <input type="datetime-local" class="form-control" name="endDate" th:value="${endDate}">
                                            </div>

                                        </div>
                                        <div class="input-group">
                                            <button type="submit" class="btn btn-primary">Valider</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Tableau des résultats -->
                <h3 class="h3 mb-2 text-gray-800">Tableau des Commissions</h3>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Résultats de l'analyse</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Cryptomonnaie</th>
                                        <th th:if="${analyseType == 'somme' or analyseType == 'tous'} and ${analyses.?[value.containsKey('sommeCommissionAchat')]}">
                                            Somme Commission Achat (Ar)
                                        </th>
                                        <th th:if="${analyseType == 'somme' or analyseType == 'tous'} and ${analyses.?[value.containsKey('sommeCommissionVente')]}">
                                            Somme Commission Vente (Ar)
                                        </th>
                                        <th th:if="${analyseType == 'moyenne' or analyseType == 'tous'} and ${analyses.?[value.containsKey('moyenneCommissionAchat')]}">
                                            Moyenne Commission Achat (Ar)
                                        </th>
                                        <th th:if="${analyseType == 'moyenne' or analyseType == 'tous'} and ${analyses.?[value.containsKey('moyenneCommissionVente')]}">
                                            Moyenne Commission Vente (Ar)
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="analyse : ${analyses}">
                                        <td th:text="${analyse.key}"></td>
                                        <td th:if="${(analyseType == 'somme' or analyseType == 'tous') and analyse.value.containsKey('sommeCommissionAchat')}"
                                            th:text="${analyse.value.sommeCommissionAchat}"></td>
                                        <td th:if="${(analyseType == 'somme' or analyseType == 'tous') and analyse.value.containsKey('sommeCommissionVente')}"
                                            th:text="${analyse.value.sommeCommissionVente}"></td>
                                        <td th:if="${(analyseType == 'moyenne' or analyseType == 'tous') and analyse.value.containsKey('moyenneCommissionAchat')}"
                                            th:text="${analyse.value.moyenneCommissionAchat}"></td>
                                        <td th:if="${(analyseType == 'moyenne' or analyseType == 'tous') and analyse.value.containsKey('moyenneCommissionVente')}"
                                            th:text="${analyse.value.moyenneCommissionVente}"></td>
                                    </tr>
                                </tbody>
                                
                                
                                
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <div th:insert="~{fragment/footer :: footer}"></div>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" th:href="@{#page-top}">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" th:href="@{login.html}">Logout</a>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{fragment/script :: script}"></div>

</body>

</html>
