<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            margin: 20px;
        }
        .code-pin {
            font-size: 3em;
            font-weight: bold;
            margin: 20px 0 20px 30px;
        }
        .signature {
            font-size: 1.5em;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Bonjour, {{username}}!</h1>
    <p>Vous trouverez ci-dessous le code PIN pour confirmer votre depot d'un montant de {{devise}} {{montant}} :</p>
    <p class="code-pin">{{codepin}}</p>
    <p>Ce code est a utiliser avant le <strong> {{expiration}} </strong>. Si vous avez des questions, n'hésitez pas à nous contacter.</p>
    <p> Cordialement, </p>
    <p class="signature">L'équipe Identity Provider, Cryptomonnaie</p>
</body>
</html>
