<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragment/link :: link}"></head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="p-5 text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Bienvenue !</h1>
                                    <p class="lead">Veuillez choisir votre zone d'accès :</p>
                                    
                                    <a th:href="@{/frontoffice/login}" class="btn btn-primary btn-user btn-block mb-3">
                                        Front Office
                                    </a>
                                    <a th:href="@{/backoffice/login}" class="btn btn-secondary btn-user btn-block">
                                        Back Office
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div th:insert="~{fragment/script :: script}"></div>

</body>

</html>
